# Общие
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
.env
.env.*
!/.env.example

# Vite
.vite/
dist-ssr/

# IDE/Editor
.vscode/
.idea/

# Package managers (если не используешь)
pnpm-lock.yaml
yarn.lock

# Coverage
coverage/